@import url('https://fonts.googleapis.com/css2? family= Fira+Sans:wght@500 & family= Montserrat:wght@400;500;600;700;900 & family= Poppins: wght@400;500;700 & family= Roboto & display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;


}

header {
    margin-top: 47px;
    margin-left: 42px;
}


.link-header{
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.875px;
    color: #17233D;
    cursor: pointer;
    margin-right: 32px;
    
}

.button-header{
    background: #6fbf44;
    border: 1px solid #4cb538;
    border-radius: 6px;
    width: 124px;
    height: 51px;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #ffffff; 
    
 }

 img{
    margin:153px 0 0 103px;
    display: inline-block;
}

div{
    display: inline-block;
    margin-left: 85px;
    width: 493px;
}

h1{
    font-weight: 700;
    font-size: 62px;
    line-height: 82px;
    letter-spacing: 0.596154px;
    color: #161a49;
}

p{
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: 0.5px;
    color: #4b505a;
    margin-top: 47px;
    margin-bottom: 55px;
}

.buton-div{
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 1px; 
    color: #6FBF44;
    background: transparent;
    border: none;
    cursor: pointer;
    
}

@media screen and (max-width:708px){
    
    .link-header{
        display: none;
    }

    .button-header{
        box-sizing: border-box;
        position: relative;
        left: 80%;
        right: 0%;
        top: 0%;
        bottom: 0%;
    }
    
    img{
        position: absolute;
        width: 305.92px;
        height: 320.93px;
        margin-top: 480px;
    }

    h1{
        margin-top: 80px ;
        width: 290px;
        height: 100px;
        font-weight: 700;
        font-size: 35px;
        line-height: 30px;
        text-align: center;
        letter-spacing: 0.596154px;
        right: 10px;
    }

    p{
        margin: 10px 20px 35px 10px;
        width: 304px;
        height: 165px;
        font-size: 20px;
        line-height: 36px;
        font-weight: 33px;
        right: 90px;
        letter-spacing: 0.5px;
    }

    .buton-div{
        margin: 0 auto;
        display: block;
        position: relative;
        right: 92px;
        font-weight: 500;
        font-size: 22px;
        line-height: 27px;
        letter-spacing: 1px;
    }
}